@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
    --board: coral;
    --border: rgb(254, 68, 0);
}

@font-face{
    font-family: 'arcade';
    src: url('fonte/arcade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(215, 101, 1) 85%, rgb(154, 46, 7) 100%);
}

#realGame_board{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#game-board{
    position: absolute; 
    height: 90%;
    width: 100vw;
    background-image: linear-gradient(to bottom, #87CEEB, #E0F6FF);
    overflow: hidden;
}

.ground{
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(68, 223, 68), green);
    width: 100vw;
    height: 10%;
    bottom: 0;
}

div#score-board{
    visibility: hidden;
    position: absolute;
    height: 60px;
    width: 300px;
    background-color: coral;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid rgb(254, 68, 0);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.646);
}

#menu-board{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 370px;
    width: 400px;
    background-color: var(--board);
    border: 3px solid var(--border);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.646);
    
}

#menu-board > div{
    font-family: 'arcade';
    font-size: 2em;
    color: white;
}

#about-board{
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: var(--board);
    border: 3px solid var(--border);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.646);
    overflow: auto;
    visibility: hidden;
}

#back{
    font-family: 'arcade';
    font-size: 2em;
    color: white;
    margin: auto;
    margin-top: 20px;
}

#text{
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    font-size: 1.5em;
    color: white;
}


.button{
    background-color: rgb(255, 85, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.225);
    text-align: center;
    width: 150px;
    border-radius: 10px;
}

.button:hover{
    font-size: 2.2em;
    background-color: rgb(232, 93, 24);
}

#gameOver-board{
    position: absolute;
    background-color: var(--board);
    height: 300px;
    width: 400px;
    border: 3px solid var(--border);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.646);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    visibility: hidden;
}

#gameOver-board > div{
    font-family: 'arcade';
    font-size: 2em;
    color: white;
}

.score{   
    font-family: 'arcade';
    font-size: 2rem;
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sonic{
    position: absolute;
    width: 140px;
    left: 180px;
    bottom: -7px;
    /*colisao 65px*/
}


.enemy{
    position: absolute;
    bottom: -2px;
    width: 120px;
    /*300px colisao frontal*/
    /*95px passou o sonic*/
    visibility: hidden;
}

.clouds{
    position: absolute;
    width: 550px;
    top: 5%;
    animation: animation-clouds 15s infinite linear;
}

.clouds2{
    position: absolute;
    width: 200px;
    top: 40%;
    animation: animation-clouds 23s infinite linear;
}

.run{
    animation: animation-enemy 2s infinite linear;
}

.jump{
    animation: sonic-jump 0.6s ease-out;
}

a{
    color: antiquewhite;
}
@keyframes animation-enemy{
    from{
        right: -120px;
    }
    to{
        right: 100%;
    }
}

@keyframes sonic-jump{
    0%{
        bottom: 0px;
    }

    40%{
        bottom: 175px;
    }

    50%{
        bottom: 175px;
    }

    60%{
        bottom: 175px;
    }

    100%{
        bottom: 0px;
    }
}

@keyframes animation-clouds{
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}


@media (max-width: 570px){ 
    .sonic{
        left: 10px;
    }
    .enemy{
        width: 80px;
    }
    .run{
        animation: animation-enemy 1.3s infinite linear;
    }
    .clouds{
        top: 5%;
        width: 350px;
    }
    .clouds2{
        top: 30%;
    }
    #realGame_board{
        height: 85vh;
    }
    #score-board{
        top: 50%;
        width: 80vw;
    }
    #menu-board{
        height: 280px;
        gap: 18px;
        width: 80vw;
    }
    #gameOver-board{
        height: 200px;
        gap: 18px;
        width: 80vw;
    }
    #about-board{
        width: 90vw;
    }
}


